@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #fff;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  position: relative;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  background: url(../img/body.jpg) center center/cover no-repeat;
  background-attachment: fixed;
}

.header__logo-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-bottom: 2px solid #e63f24;
}

.header__logo-img {
  height: 60px;
}

.header__menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.header__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.header__work-time {
  color: #fff;
  font-size: 14px;
}

.header__navbar {
  border-bottom: 2px solid #e63f24;
}

.menu-social__link {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-social__icon {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.menu-social__icon.facebook:hover {
  -webkit-box-shadow: 1px 1px 20px #0b84ee;
          box-shadow: 1px 1px 20px #0b84ee;
}

.menu-social__icon.instagram:hover {
  -webkit-box-shadow: 1px 1px 20px #f0516d;
          box-shadow: 1px 1px 20px #f0516d;
}

.menu-social__icon.tiktok:hover {
  -webkit-box-shadow: 1px 1px 20px #fff;
          box-shadow: 1px 1px 20px #fff;
}

.menu-social__icon.viber:hover {
  -webkit-box-shadow: 1px 1px 20px #9360b6;
          box-shadow: 1px 1px 20px #9360b6;
}

.menu-social__icon.whatsapp:hover {
  -webkit-box-shadow: 1px 1px 20px #48c95f;
          box-shadow: 1px 1px 20px #48c95f;
}

.menu-social__icon.youtube:hover {
  -webkit-box-shadow: 1px 1px 20px #f40000;
          box-shadow: 1px 1px 20px #f40000;
}

.location__city {
  color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  gap: 10px;
}

.location__icon {
  color: #e63f24;
  font-size: 14px;
}

.location__city-name {
  margin-left: 5px;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  font-weight: 600;
}

.location__map-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.location__map-link:hover {
  color: #e63f24;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.language__select {
  padding: 10px;
  border-radius: 10px;
}

option:hover {
  background: #e63f24;
}

.menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-row__item {
  text-align: center;
  width: 100%;
  border-right: 2px solid #e63f24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-row__item:last-child {
  border-right: none;
}

.menu-row__item:hover {
  color: #fff;
  background-color: #e63f24;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-row__item:hover .menu-social__link {
  color: #fff;
  background-color: #e63f24;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-row__link {
  width: 100%;
  padding: 20px 0;
  text-transform: uppercase;
  color: #e63f24;
  font-weight: 600;
  font-size: 14px;
}

.menu-row__link:hover {
  color: #fff;
  background-color: #e63f24;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.advantages {
  background: url(../img/frame-1-1.jpg) center center/cover no-repeat;
  background-attachment: fixed;
}

.advantages__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  color: #fff;
  line-height: 1.4;
  padding-bottom: 40px;
  border-bottom: 2px solid #e63f24;
}

.advantages__desc {
  max-width: 500px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
}

.advantages__blocks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.advantages__block-item {
  max-width: 400px;
  min-height: 180px;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  padding-left: 70px;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #e63f24;
  opacity: 0.8;
}

.advantages__img {
  position: absolute;
  top: -12px;
  left: -25px;
  background: #e63f24;
  padding: 3px 6px 2px 4%;
  border-radius: 50%;
}

.advantages__image {
  background: radial-gradient(circle, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.5019607843) 50%, #ffffff 100%);
  padding: 25px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
}

.advantages__desc-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.advantages__subtitle {
  min-height: 70px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  line-height: 1.4;
  border-bottom: 2px solid #e63f24;
}

.advantages__text {
  margin-left: -50px;
  padding-right: 20px;
  min-height: 160px;
  text-align: left;
  font-size: 14px;
  line-height: 1.8;
  color: #000;
}

.about__img {
  margin: 0 auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  width: 100%;
}

.about__description {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  margin: 20px 0;
  color: #000;
}

.about__subtitle {
  font-size: 24px;
  line-height: 1.4;
  margin: 40px 0 30px;
  color: #000;
}

.about__list {
  position: relative;
}

.about__item {
  position: relative;
  padding-left: 30px;
  margin: 16px 0 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #000;
}

.about__item::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 6px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #ccc;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.contact__blocs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  color: #000;
  line-height: 1.4;
  padding-bottom: 40px;
  border-bottom: 2px solid #e63f24;
}

.contact__desc {
  max-width: 500px;
  text-align: center;
  color: #000;
}

.contact__blocks-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}

.contact__block-item {
  min-width: 300px;
  min-height: 130px;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #e63f24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.contact__ico {
  font-size: 28px;
  color: #e63f24;
}

.contact__desc-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.contact__subtitle {
  text-align: center;
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin: 10px 0;
}

.contact__text {
  text-align: center;
  font-size: 14px;
  color: #ccc;
}

.contact__text-color {
  color: #e63f24;
  font-weight: 600;
}

.contact__text-l {
  font-size: 14px;
}

.contact__message {
  width: 100%;
  padding: 40px 0;
  background: url(../img/body.jpg) center center/cover no-repeat;
  background-attachment: fixed;
}

.contact__container-m {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.contact__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__right-img {
  width: 300px;
}

.contact__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 60px;
}

.contact__desc-m {
  max-width: 600px;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-align: left;
}

.contact__button {
  min-width: 140px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #fff;
  color: #e63f24;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

.contact__button:hover {
  border: 2px solid #e63f24;
  background-color: #e63f24;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact__map {
  width: 50%;
  height: 500px;
}

.contact__map-iframe {
  width: 100%;
  height: 100%;
  border: 5px solid #e63f24;
  border-radius: 20px;
}

.portfolio__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.portfolio__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  color: #000;
  line-height: 1.4;
  padding-bottom: 40px;
  border-bottom: 2px solid #e63f24;
}

.portfolio__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__item {
  width: 190px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #e63f24;
  border: 2px solid #e63f24;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
}

.portfolio__item.active {
  border: 2px solid #e63f24;
  background-color: #e63f24;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__item:hover {
  border: 2px solid #e63f24;
  background-color: #e63f24;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__block-imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 10px 10px;
  padding: 20px;
  width: 100%;
}

.portfolio__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #555;
  border-radius: 20px;
}

.portfolio__img {
  width: 100%;
  height: 100%;
}

.img-pos-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.img-pos-2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.img-pos-3 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.img-pos-4 {
  grid-column: 3/5;
  grid-row: 2/3;
}

/* ==== services SECTION ==== */

.services {
  background: url(../img/frame-1-3.jpg) center center/cover no-repeat;
  background-attachment: fixed;
}

.services__blocs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.services__title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  padding-bottom: 15px;
  color: #fff;
  line-height: 1.4;
  padding-bottom: 40px;
  border-bottom: 2px solid #e63f24;
}

.services__desc {
  max-width: 500px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
}

.services__blocks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.services__block-item {
  width: 260px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #e63f24;
  opacity: 0.8;
}

.services__img {
  width: 220px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #555;
}

.services__image {
  width: 100%;
  height: 100%;
}

.services__text {
  height: 80px;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  position: relative;
  border-bottom: 2px solid #e63f24;
}

.services__text::after {
  content: " ";
  position: absolute;
  bottom: -2px;
  width: 70%;
  height: 2px;
  left: 0;
  background: #fff;
}

.services__title--repair {
  width: 100%;
  text-align: left;
}

.work-p__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding: 100px 0;
}

.work-p__request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.work-p__titler {
  font-size: 36px;
  color: #000;
  font-weight: 600;
}

.work-p__desc {
  font-size: 18px;
  color: #000;
  line-height: 1.4;
}

.work-p__block {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-p__button {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.work-p__button:hover {
  border: 2px solid #e63f24;
  background-color: #e63f24;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.work-p__button:hover .work-p__arrow {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.work-p__arrow {
  color: #000;
}

.work-p__director {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.work-p__span {
  font-style: italic;
  color: #000;
  font-size: 14px;
}

.work-p__image {
  border-radius: 20px;
}

.work-p__wrapper {
  padding: 40px 0;
}

.work-p__swiper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  overflow: hidden;
  pointer-events: none;
}

.work-p__swiper-wrapper {
  height: 90%;
}

.work-p__swiper-slide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #000;
}

.work-p__slider-img {
  width: 100%;
  height: 100%;
}

#w-p-s-p {
  bottom: 0px;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
          transition-timing-function: linear !important;
}

.swiper {
  cursor: pointer;
}

.main-swiper {
  width: 100%;
  height: 710px;
  margin: 20px auto;
  overflow: hidden;
  cursor: pointer;
}

.main-swiper__slide {
  position: relative;
  height: 95%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  color: white;
  z-index: 1;
}

.main-swiper__slide:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0.5))), url(../img/img-1.jpg) center center/cover no-repeat;
  background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/img-1.jpg) center center/cover no-repeat;
}

.main-swiper__slide:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0.5))), url(../img/building.jpg) center center/cover no-repeat;
  background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/building.jpg) center center/cover no-repeat;
}

.main-swiper__slide:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0.5))), url(../img/img-4.png) center center/cover no-repeat;
  background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/img-4.png) center center/cover no-repeat;
}

.main-swiper__slide:nth-child(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0.5))), url(../img/img-7.jpg) center center/cover no-repeat;
  background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/img-7.jpg) center center/cover no-repeat;
}

.main-swiper__slide:nth-child(5) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0.5))), url(../img/img-2.png) center center/cover no-repeat;
  background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/img-2.png) center center/cover no-repeat;
}

.main-swiper__slide:nth-child(6) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0.5))), url(../img/img-3.png) center center/cover no-repeat;
  background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/img-3.png) center center/cover no-repeat;
}

.main-swiper__title {
  font-size: 36px;
  color: #e63f24;
  line-height: 1.4;
}

.main-swiper__text {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  width: 40px;
  height: 8px;
  border-radius: 0;
}

.swiper-pagination-bullet {
  color: #e63f24;
  background: #888;
  bottom: 5px;
}

.swiper-pagination-bullet-active {
  color: #e63f24;
  background: #e63f24;
}

.wrapper__aside-soc {
  position: relative;
}

.menu-aside-soc {
  z-index: 99;
  position: fixed;
  right: 54px;
  bottom: calc(70% - 340px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.menu-aside-soc__icon-top {
  font-size: 40px;
  color: #e63f24;
  background: #fff;
  border-radius: 50%;
}

.to-top {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  /* плавний перехід opacity */
  pointer-events: auto;
}

.footer {
  background: url(../img/body.jpg) center center/cover no-repeat;
  background-attachment: fixed;
}

.footer__container {
  margin: 0 auto;
  padding: 0 15px;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  min-width: 150px;
}

.footer__title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 800;
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer__item {
  color: #ccc;
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.footer__item-link {
  color: #ccc;
  font-size: 16px;
  font-weight: 600;
}

.footer__item-link:hover {
  color: #e63f24;
}

.footer__icon {
  color: #ccc;
  font-size: 16px;
}

.footer__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.footer__work-time {
  color: #ccc;
  font-size: 14px;
  margin-left: 30px;
}

.footer__bottom {
  border-top: 2px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.footer__rights {
  color: #ccc;
  font-size: 14px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section {
  padding: 40px 0;
}

@media (max-width: 1919.98px) {
  .container {
    max-width: 1320px;
    padding: 0 30px;
  }
}

@media (max-width: 1439.98px) {
  .container {
    max-width: 1200px;
    padding: 0 25px;
  }
}

@media (max-width: 1023.98px) {
  .container {
    max-width: 960px;
    padding: 0 20px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
  }
}

@media (max-width: 599.98px) {
  .container {
    max-width: 540px;
    padding: 0 10px;
  }
}

@media (max-width: 374.98px) {
  .container {
    max-width: 340px;
    padding: 0 5px;
  }
}